html {
  min-height: 100%;
}

.itinerary-details {
  padding-left: 1rem;
}

.itinerary-item section {
  padding-left: 0.5rem;
}

.tab-pane {
  padding-top: 1rem;
}

.song-artist {
  font-size: 0.9rem;
  font-style: italic;
}

.song-submitter {
  font-size: 0.8rem;
}

.icon-fix {
  vertical-align: -0.125em;
}

.modify-actions > div {
  position: relative;
  top: -2rem;
}

.action-button {
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid #0000;
  margin: -1px;
  color: var(--bs-primary) !important;

  &.fixwidth {
    width: 1.5rem;
  }

  &.disabled {
    color: var(--bs-secondary) !important;
  }

  &:not(.disabled):hover {
    color: var(--bs-info) !important;
    cursor: pointer;
    border: 1px solid var(--bs-info);
  }

  &:not(.disabled).create:hover {
    color: var(--bs-success) !important;
    cursor: pointer;
    border: 1px solid var(--bs-success);
  }

  &:not(.disabled).delete:hover {
    color: var(--bs-danger) !important;
    cursor: pointer;
    border: 1px solid var(--bs-danger);
  }
}

.card {
  border-radius: 0.5rem;
}
.btn {
  border-radius: 0.25rem;
}

.nav-pills .nav-item {
  cursor: pointer;
  a {
    border-radius: 1em;
  }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-body-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}
// Resize the page so the navbar doesn't cause jarring
#content {
  width: calc(100vw - 00.5rem);
}
// Exempt the navigation menu from being resized
#navbar {
  width: calc(100vw);
}
