html {
  min-height: 100%;
}

.itinerary-details {
  padding-left: 1rem;
}

.itinerary-item section {
  padding-left: 0.5rem;
}

.tab-pane {
  padding-top: 1rem;
}

.setlist.list-group {
  background-color: var(--bs-dark);
  li.list-group-item {
    background-color: var(--bs-dark);
    padding: 0;
    margin-bottom: 0.25rem;
    border-top: 1px dashed rgba(var(--bs-primary-rgb), 0.44);
  }
}

.setlist.card {
  padding: 0.5rem;
  .card-title {
    margin: 0;
  }
}

.song-artist {
  font-size: 0.9rem;
  font-style: italic;
}

.song-submitter {
  font-size: 0.8rem;
}

.icon-fix {
  vertical-align: -0.125em;
}

.modify-actions > div {
  position: relative;
  top: -2rem;
}

.action-button {
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid #0000;
  margin: -1px;
  color: var(--bs-primary) !important;

  &.fixwidth {
    width: 1.5rem;
  }

  &.disabled {
    color: var(--bs-secondary) !important;
  }

  &:not(.disabled):hover {
    color: var(--bs-info) !important;
    cursor: pointer;
    border: 1px solid var(--bs-info);
  }

  &:not(.disabled).create:hover {
    color: var(--bs-success) !important;
    cursor: pointer;
    border: 1px solid var(--bs-success);
  }

  &:not(.disabled).delete:hover {
    color: var(--bs-danger) !important;
    cursor: pointer;
    border: 1px solid var(--bs-danger);
  }
}

.card {
  border-radius: 0.5rem;
}
.btn,
.form-control,
.navbar-toggler,
.alert {
  border-radius: 0.25rem;
}
.tooltip .tooltip-inner {
  border-radius: 0.45rem;
}

.nav-pills .nav-item {
  cursor: pointer;
  a {
    border-radius: 1em;
  }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-body-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}
// Resize the page so the navbar doesn't cause jarring
#content {
  width: calc(100vw - 00.5rem);
}
// Exempt the navigation menu from being resized
#navbar {
  width: calc(100vw);
}

.google-login-btn {
  background-color: #4285f4;
  border-color: #4285f4;
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding-left: 3rem;

  img {
    position: absolute;
    top: 2px;
    left: 0.5rem;
    height: 2rem;
  }
}
.discord-login-btn {
  background-color: #5865f2;
  border-color: #5865f2;
}

#account-details > * {
  margin-top: 1rem;
}

.editMenu {
  margin-left: -1rem;
  .dropdown-toggle:after {
    content: none;
  }
  .btn {
    border: none;
  }
}

.offcanvas-end {
  width: unset;
}

.setlist-song-edit {.list-group-item {
  border-bottom: 1px var(--bs-primary) solid;
}
:first-child.list-group-item {
  border-top: 1px var(--bs-primary) solid;
}}

.form-control {
  border-radius: 0.25rem!important;
}